# various settings that I would like synced across machines
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[mergetool]
	prompt = false
	keepBackup = true
[merge]
	tool = vimdiff
[alias]
    graph = log --oneline --graph --all --pretty=format:"%C(auto)%h%d %s%C(reset) %C(green)(%ar)%C(reset)"
	full-graph = log --all --graph --decorate --pretty=format:"%C(auto)%h%C(reset) - %C(cyan)%s%C(reset) %C(green)(%ar)%C(reset)%C(auto)%d%C(reset)%n%C(bold black) Author: %an <%ae> %ad%n%C(bold black) Committer %cn <%ce> %cd%C(reset)"
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD
	last = log -1 HEAD
[user]
	{{ if .work }}
	email = "l.gerol@fetchrewards.com"
	{{ else }}
	email = "lonnie@lonniegerol.com"
	{{ end -}}
	name = "Lonnie Gerol"
	signingKey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDnZ7PbMWUVrpd1SXu4z6O3q9HH88Q0qoGjJ66MEbha1loP9KMdY319VKb1cGCPTTZcSK4iZ/Llq0ie5J7JBuCij6aCAgaUVYfnZgzv1T6iOj+PZSgbwAvK+ae55cIcqbJ9ScLWjizNqsZXvc8acRIgs4SPJfFOUd9GGmWqFm8oh0djpTGuxxdSob3GYB+Bhnpfxbkil+AObAPemmfe/WiCfYMjgPccTH+MkUW+VBiRGTCegyNoRlmogj6CDwUd0eyLCUlzuttX8XPBhQ+hDY2qTxgfHidwKKmFFCSILvMQyFzzQMlhI7rIC5fZgqpUtw3VvrI3xS8YZZ6HO4BMs5uC1lLwU+yTtHfYJ8hL3LS/uFoTZpt0AmW4RgrDX4en0tF2O4wz3TKjnW96G/F2geQRRwUXcS8xeRXQiwSQwdwNPEyQDTijDPFA69iC5odPX7nkTjfiKrU3sY9a77ueEkQ6yDrfnx+IqH611WN1jzn8k/i+i/a98Zqra8uMUzgEdDE=
[gpg]
	format = ssh
	program = /opt/homebrew/bin/gpg
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	allowedsignersfile = ~/.ssh/allowed_signers
[commit]
	gpgsign = true	

	


