tap "updatest/tap", "https://github.com/updatest/tap.git"

brew "cask"
brew "chezmoi"
brew "cmake"
brew "gh"
brew "mise"
brew "neofetch"
brew "neovim"
brew "node"
brew "speedtest-cli"
brew "uv"

cask "1password"
cask "chatgpt"
cask "choosy"
cask "claude"
cask "claude-code"
cask "iterm2"
cask "karabiner-elements"
cask "kindavim"
cask "nova"
cask "spotify"
cask "updatest"
cask "visual-studio-code"
cask "xcodes-app"

cargo "bat"
cargo "lsd"
